@import "../../common/styles/variable.scss";

page {
  height: 100%;
  background-color: #fff;
  .p-container {
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    .p-body {
      padding: 120rpx 40rpx 0 40rpx;
      .p-input-row {
        position: relative;
     
      
        display: flex;
        align-items: center;

        .i-no {
         
font-size: 36rpx;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #909399;
position: relative;
top: 8rpx;
margin-right: 5rpx;
        }

        .p-room-num {
        
font-size: 56rpx;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #181819;

        }

       

        .p-input {
          height: 100%;
          flex: 1;
          color: #353535;
          background-color: #fff;
        }

        .p-input-psw {
          height: 100%;
          width: 80%;
          color: #353535;
          background-color: #fff;
        }

        .p-placeholder {
          font-size: 34rpx;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #b2b2b2;
        }

        .p-numbers {
          width: 54rpx;
          font-size: $size24;
          font-family: SFProText-Regular;
          font-weight: 400;
          color: rgba(136, 136, 136, 1);
        }

        .i-psw {
          position: absolute;
          right: 0;
          width: 56rpx;
          height: 56rpx;
          z-index: 666;
        }
      }
      .p-input-row:first-child{
        margin-bottom: 88rpx;
      }
      .p-input-row:nth-child(2){
        margin-bottom: 46rpx;
      }
      .p-input-row:nth-child(n+2){
        border-bottom: 2rpx solid #E7E6E6;
        padding-bottom: 20rpx;
      }
      .p-input-row:last-child {
        margin-bottom: 0;
      }

      .p-btn {
        width: 670rpx;
        height: 96rpx;
        line-height: 96rpx;
        text-align: center;
        margin-top: 64rpx;
        background: #1890FF;
        border-radius: 10rpx;
        opacity: 0.4;
        border: 2rpx solid rgba(5, 5, 5, 0.08);
        font-size: 36rpx;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
       
border-radius: 44rpx;
position: fixed;
bottom: 34rpx;
        &.p-active {
          opacity: 1;
        }
      }

      .p-btn::after {
     
      }
    }
  }

  .p-modal-content {
    .p-modal-title {
      text-align: center;
      font-size: 30rpx;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 42rpx;
      box-sizing: border-box;
      padding: 0 55rpx 30rpx 55rpx;
    }
  }
}
