// @Author: Chenyintang
// @Date:   2019-06-07 22:19:45
// @Email:  chenytrl@163.com
// @Last modified by:   Chenyintang
// @Last modified time: 2019-06-09 13:25:10
@import "../../common/styles/variable.scss";

page {
  height: 100%;
}

.p-container {
  height: 100%;

  box-sizing: border-box;

  .p-body {
    box-sizing: border-box;

    .p-meeting-detail {
      margin-top: 24rpx;
      padding: 20rpx 40rpx;
      background-color: #fff;
      box-sizing: border-box;

      .p-title {
        font-size: $size30;
        font-family: SFProText-Medium;
        font-weight: 500;
        color: $color8;
        line-height: 36rpx;
        padding: 26rpx 0 28rpx;
      }

      .p-item-box {
        margin-bottom: 16rpx;
        margin-top: 20rpx;

        .p-item {
          position: relative;
          z-index: 666;
          height: 80rpx;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: $size32;
          box-sizing: border-box;

          .p-edit {
            width: 40rpx;
            height: 40rpx;
            margin-left: 30rpx;
          }

          .p-lock {
            width: 48rpx;
            height: 48rpx;
            margin-left: 16rpx;
            z-index: 100
          }

          .p-item-label {
            width: 165rpx;

            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #909399;
            // margin-right: 64rpx;
          }

          .p-item-text {

            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #181819;
            z-index: 666;

            &.p-item-room {
              flex: 1;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .p-item-room-box {
                flex: 1;
                display: flex;
                align-items: center;

                .i-no {
                  width: 52rpx;
                  height: 28rpx;
                  margin-right: 6rpx;
                }

                text {
                  flex: 1;
                }
              }

              .i-copy {
                width: 40rpx;
                height: 40rpx;
              }
            }

            &.p-item-home {
              display: flex;
              justify-content: space-around;
              align-items: center;

              text {
                flex: 1;
              }

              .i-copy {
                width: 40rpx;
                height: 40rpx;
                margin-left: 44rpx;
              }
            }
          }
        }
      }

      &.p-meeting-people {
        padding: 0;
        margin-top: 40rpx;
        padding: 45rpx 40rpx 20rpx;
        margin-bottom: 150rpx;

        .p-title {
          display: flex;
          align-items: center;
          justify-content: space-around;
          box-sizing: border-box;
          padding: 0;
          position: relative;
          height: auto;

          .tit {

            font-size: 32rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #303133;
            line-height: 44rpx;
          }

          &.p-title-btn {
            border: none;
            background-color: transparent;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            // height: 104rpx;
            border-radius: 0;
          }

          &.p-title-btn::after {
            content: "";
            width: 1340rpx;
            height: 200%;
            position: absolute;
            top: 0;
            z-index: 1;
            border-bottom: 1px solid #f1f1f1;
            transform: scale(0.5);
            transform-origin: 80rpx 0;
            box-sizing: border-box;
            border-radius: 0;
          }

          text {
            flex: 1;
          }

          .p-share-btn {
            border: none;
            margin-left: 0;
            margin-right: 0;
            // padding-right: 40rpx;
            box-sizing: border-box;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            border-radius: 0;
            -webkit-tap-highlight-color: transparent;
            overflow: hidden;
            line-height: 1;
            background-color: transparent;
            display: flex;
            align-items: center;
            padding: 0;
            color: #1890FF;

            font-size: 28rpx;
          }

          button::after {
            border: none;
          }

          .i-right {
            width: 40rpx;
            height: 40rpx;
            margin-right: 4rpx;
          }
        }

        button::after {
          border: none;
        }

        .p-item-box {
          // padding: 0 40rpx;
        }

        .p-item-avatar {
          width: 48rpx;
          height: 48rpx;
          margin-right: 14rpx;
          border-radius: 100%;
        }

        .p-item-empty-avatar {
          width: 80rpx;
          height: 80rpx;
          line-height: 80rpx;
          margin-right: 24rpx;
          border-radius: 100%;
          background-color: #3183e9;
          font-size: 20rpx;
          text-align: center;
          color: #fff;
        }

        .p-item-text {
          position: relative;
          z-index: 666;
          // height: 100%;
          // flex: 1;
          display: flex;
          align-items: center;



          .i-mic {
            width: 28rpx;
            height: 36rpx;
            margin-right: 12rpx;
          }

          .p-join-meeting-name {
            flex: 1;
          }

          .p-eidt-input {
            flex: 1;
          }
        }

        .i-edit {
          width: 40rpx;
          height: 40rpx;
          margin-left: 14rpx;
        }

        .i-nosel {
          width: 32rpx;
          height: 32rpx;
          border: 2rpx solid #C0C4CC;
          border-radius: 50%
        }
      }
    }
  }

  .p-tab-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 112rpx;
    padding: 20rpx 44rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #fff;

    .p-tab-box {
      width: 316rpx;
      height: 72rpx;
      border-radius: 38rpx;
      box-sizing: border-box;
      display: grid;
      place-items: center;

      font-size: 30rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;


      &.box1 {
        color: #303133;
        border: 2rpx solid #C0C4CC;
      }

      &.box2 {

        background: #1890FF;

        color: #FFFFFF;

        &.nojoin {

          background: #96CDFF;
        }



      }

    }

    .p-tab-box1 {
      width: 100%;

      background: #1890FF;
      border-radius: 44rpx;

    
      display: grid;
      place-items: center;

      font-size: 34rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #FFFFFF;

      &.active {
        opacity: 0.4;
      }
    }
  }
  .p-modal-title{
   
font-size: 36rpx;
font-family: PingFangSC-Semibold, PingFang SC;
font-weight: 600;
color: #303133;
line-height: 50rpx;
text-align: center;
margin-bottom: 50rpx;
  }
  .p-modal-con {
   
font-size: 28rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #303133;
line-height: 40rpx;
text-align: center;
    margin-bottom: 52rpx;
    .p-line{
      margin-bottom: 20rpx;
      font-size: 28rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;

line-height: 40rpx;
text-align: center;

      .p1{  
        color: #909399;
        width: 150rpx;
        display: inline-block;
        text-align: left;
      }
      .p2{
color: #303133;
display: inline-block;
      }
     

    
  }
  .leaveMeeting{
    width: 260rpx;
height: 80rpx;
background: #1890FF;
border-radius: 40rpx;
margin: 80rpx auto;
display: grid;
place-items: center;

font-size: 28rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #FFFFFF;
  }
}
}
