// @Author: Chenyintang
// @Date:   2019-06-07 22:19:45
// @Email:  chenytrl@163.com
// @Last modified by:   Chenyintang
// @Last modified time: 2019-06-09 11:52:12

@import "../../common/styles/variable.scss";

.p-container {
  
  .mytips {
    position: fixed;
    top: 150rpx;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    transform: translateZ(0) translateY(-150%);
    transition: all 0.3s ease;
    background-color: red;
    color: #fff;
  }
  .mytips-show {
    transform: translateZ(0) translateY(0);
  }
  .p-body {
    position: relative;
    .p-tab {
      height: 316rpx;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 76rpx;
      margin-top: 32rpx;
      margin-bottom: 40rpx;
      

      .p-tab-item {
        // flex: 1;
        // width: 160rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: none;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        line-height: 1;
        background-color: transparent;

        .p-btn-img {
          width: 136rpx;
          height: 136rpx;
          line-height: 1;
          border: none;
          border-radius: 100%;
          margin-left: 0;
          margin-right: 0;
          padding-right: 0;
          padding-left: 0;
          margin-bottom: 24rpx;
          background: #fafafa;

         
        }

        .p-btn-img::after {
          border: 0;
          border-radius: 100%;
          background-color: transparent;
        }

        .p-btn-img-hover {
          background: #ececec;
          transition: all 0.3s;
        }

        .img {
          width:100%;
          height: 100%;
          line-height: 1;
        }

        text {
          flex: 1;
          font-size: $size32;
          font-family: SFProText-Medium;
          font-weight: 500;
          color: $color35;
          line-height: 32rpx;
        }
      }

      .p-tab-item::after {
        border: none;
      }

      .p-btn-hover {
        // background: red;
      }
    }

    .p-list-box {
      padding: 40rpx;
      margin-bottom: 40rpx;
      .p-list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32rpx;
        
      .p-title{
        display: flex;
        align-items: center;
        .p-icon{
          width: 56rpx;
          height: 56rpx;
          margin-right: 6rpx;
         }
      }
     
          
         


        .p-title {
          font-size: 32rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #303133;
            line-height: 44rpx;
        }

        .p-select-time {
          width: 100rpx;
          position: relative;

          .i-calendar {
            width: 36rpx;
            height: 36rpx;
            float: left;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }

          .p-select-text {
            float: right;
            font-size: $size30;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            text-align: right;
            color: #303133;
          }
        }
      }

      .p-list {
        margin-bottom: 16rpx;

       

        .p-list-item {
          position: relative;
          box-sizing: border-box;
          height: 240rpx;
          padding-bottom: 50rpx;
          border-bottom: 2rpx solid #EAECF1;
          margin-bottom: 52rpx;
          .p-list-item-title {
            
font-size: 36rpx;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #303133;
line-height: 52rpx;
overflow:hidden; //超出的文本隐藏
text-overflow:ellipsis; //溢出用省略号显示
white-space:nowrap; //溢出不换行
          }

          .p-list-item-people {
           margin-top: 8rpx;
           
font-size: 30rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #606266;
line-height: 44rpx;
overflow:hidden; //超出的文本隐藏
text-overflow:ellipsis; //溢出用省略号显示
white-space:nowrap; //溢出不换行
          }

          .p-list-item-time {
           
            margin-top: 30rpx;
        
font-size: 26rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #909399;
line-height: 44rpx;
display: flex;
align-items: center;
.tip{
  padding: 0 10rpx;
height: 44rpx;
background: #E3F1FF;
border-radius: 16rpx 0px 16rpx 0px;
font-size: 26rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #1890FF;
display: grid;
place-items: center;
margin-left: 30rpx;
}
&.notimeout{
  color: #1890FF;
}
&.timeout{
  color: #EB251E;
  .tip{
    background: #FFE7E6;
    color: #EB251E;
  }
}
          }

          &.p-list-cancel {
            .p-list-item-title {
              .p-list-title-text {
                color: #d9d9d9;
              }

              .p-list-item-order {
                text {
                  color: #d9d9d9;
                }
              }
            }

            .p-list-item-people {
              color: #d9d9d9;
            }

            .p-list-item-time {
              .p-list-item-time-text {
                color: #d9d9d9;
              }

              .p-list-item-time-countdown {
                color: #b2b2b2;
              }
            }
          }
        }
        .p-list-item:last-child{
          margin-bottom: 0;
        }
        .p-look-more {
          width: 320rpx;
          height: 60rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          border-radius: 38rpx;
          border: 2rpx solid #1890FF;
          text {
            font-size: $size28;
            font-family: SFProText-Medium;
            font-weight: 500;
            color: #1890FF;
          }

          .i-more {
            width: 32rpx;
            height: 32rpx;
            margin-left: 2rpx;
          }

          &.p-look-more-bottom {
            padding-bottom: 70rpx;
          }
        }

        .p-empty-data {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 298rpx;
          padding-bottom: 298rpx;

          image {
            width: 208rpx;
            height: 208rpx;
            margin-bottom: 32frpx;
          }

          text {
            height: 42rpx;
            // line-height: 1;
            font-size: 30rpx;
            font-family: SFProText-Regular;
            font-weight: 400;
            color: #909399;
            margin-top: 20rpx;
          }
        }
      }
    }
  }

  .p-modal-content {
    .p-modal-title {
      text-align: center;
      font-size: 30rpx;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 42rpx;
      box-sizing: border-box;
      padding: 0 55rpx 30rpx 55rpx;
    }

    .p-btn-box {
      display: flex;
      border-top: 1px solid #e5e5e5;

      button {
        padding: 0;
        border: none;
        flex: 1;
        background: #fff;
      }

      button:first-child::after {
        border-right: 1px solid #e5e5e5;
      }

      button::after {
        border: none;
        border-radius: 0;
      }

      .p-btn-phone {
        background-color: #fff;
        color: #0066e6;
        font-size: 36rpx;
      }

      .p-btn-phone::after {
        border-radius: 0 0 16rpx 16rpx;
      }
    }
  }
}
