@import "../../common/styles/variable.scss";

page {
  height: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
  .p-container {
    height: 100%;
    .p-body {
      box-sizing: border-box;
      height: 100%;
      padding-top: 150rpx;
      overflow: hidden;

      .p-invite-name {
        height: 42rpx;
        font-size: 30rpx;
        font-family: SFProText-Regular;
        font-weight: 400;
        color: #909399 ;
        line-height: 36rpx;
        margin-bottom: 20rpx;
        text-align: center;
      }

      .p-invite-theme {
        height: 74rpx;
       
font-size: 44rpx;
        font-family: SFProText-Regular;
        font-weight: 400;
        color: #181819;
       
        text-align: center;
        box-sizing: border-box;
        padding: 0 40rpx;
      }

      .p-invite-no {
        display: flex;
       align-items: flex-end;
        justify-content: center;
      
        margin-top: 44rpx;
        text {
         
          font-size: 56rpx;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #181819;
          line-height: 56rpx;
                  }
        .i-no {
         
font-size: 36rpx;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #909399;
line-height: 40rpx;
        }

      }

      .p-box {
       
        box-sizing: border-box;
        margin: 60rpx 76rpx 0;
        padding:40rpx;
background: #F1F8FF;
border-radius: 12rpx;
        .p-box-item {
          display: flex;
          // align-items: center;
          margin-bottom: 12rpx;
          position: relative;
          .p-label {
            width: 128rpx;
            height: 42rpx;
            font-size: 30rpx;
            font-family: SFProText-Regular;
            font-weight: 400;
            color: rgba(136, 136, 136, 1);
            // line-height: 36rpx;
            margin-right: 30rpx;
            &.p-label-subscribe {
              width: 168rpx;
            }
          }

          text {
            flex: 1;
          
font-size: 32rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #181819;
          }

          .p-vertical-top {
            // position: absolute;
            // right: 0;
            // top: 0;
            // width: 320rpx;
            flex: 1;
            word-break: break-all;
          }

          &.p-box-item-2 {
            margin-bottom: 62rpx;
          }
        }

        // .p-box-item:nth-child(2) {
        //   margin-bottom: 62rpx;
        // }
      }
  .p-btns{
     position: fixed;
     bottom: 54rpx;
     margin:0 32rpx;
  }
      .p-btn {
        width: 670rpx;
        height: 96rpx;
        line-height: 96rpx;
        text-align: center;
        margin-bottom: 32rpx;
        background: #1890FF;
        border-radius: 10rpx;
        color: #fff;
        border: none;

        border-radius: 44rpx;
        &.p-btn-disabled {
          background: rgba(0, 102, 230, 0.4);
        }

        &.p-btn-no {
          margin-top: 0;
          background: rgba(248, 248, 248, 1);
         
border: 2rpx solid #C0C4CC;;
          color:#303133;
        }
      }
    }
  }
}
