@import "../../common/styles/variable.scss";
page {
  height: 100%;

  .p-container {
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;

    &.p-container-scroll {
      overflow-y: scroll;
      height: auto;
      padding-bottom: 140rpx;
    }

    .p-body {
      position: relative;
      height: 100%;
      box-sizing: border-box;
      background-color: #353535;
      &.minimumSize {
        width: 1px;
        height: 1px;
        overflow: hidden;
      }

      &.p-body-height {
        height: 0px;
      }

      // 关闭麦克风
      .i-close-mic {
        position: fixed;
        top: 148rpx;
        right: 20rpx;
        width: 64rpx;
        height: 64rpx;
      }

      // 关闭摄像头
      .p-close-cam {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #353535;

        .i-close-cam {
          width: 110rpx;
          height: 96rpx;
          margin-bottom: 24rpx;
        }

        .p-text {
          text-align: center;
          width: 180px;
          font-size: $size30;
          font-family: SFProText-Regular;
          font-weight: 400;
          color: $color8;
        }
      }

      // 底部操作栏
      .p-bottom-tab {
        position: fixed;
        left: 0;
        bottom: 70rpx;
        z-index: 999999;
        width: 100%;
        height: 96rpx;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &.p-bottom-tab-height {
          height: 0px;
        }

        .i-tab {
          width: 96rpx;
          height: 96rpx;
        }
      }
    }

    // 会议室管理
    .p-body-room {
      box-sizing: border-box;
      overflow-y: scroll;
      .p-meeting-detail {
        margin: 32rpx 32rpx 40rpx;
        background-color: #fff;
        box-sizing: border-box;
       padding: 20rpx 32rpx 20rpx 40rpx;
box-shadow: 0px 2rpx 28rpx 0px rgba(0,0,0,0.06);
border-radius: 20rpx;
        .p-title {
          font-size: $size30;
          font-family: SFProText-Medium;
          font-weight: 500;
          color: $color8;
          line-height: 36rpx;
          padding: 26rpx 0 28rpx;
          position: relative;

          &.p-title-btn {
            border: none;
            background-color: transparent;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            height: 104rpx;
            border-radius: 0;
          }

          &.p-title-btn::after {
            content: "";
            width: 1340rpx;
            height: 2px;
            position: absolute;
            bottom: 0;
            z-index: 1;
            border-bottom: 1px solid #f00;
            transform: scale(0.5);
            transform-origin: 80rpx 0;
            box-sizing: border-box;
            border-radius: 0;
          }
        }

        .p-item-box {
          // margin-bottom: 16rpx;

          .p-item {
            position: relative;
            z-index: 666;
            height: 80rpx;
            display: flex;
            align-items: center;
            font-size: $size34;
            box-sizing: border-box;

            .p-item-label {
              width: 136rpx;
              font-family: SFProText-Regular;
              font-weight: 400;
              color: $color8;
              margin-right:50rpx;
            }

            .p-item-text {
              flex: 1;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              color: $color35;
              z-index: 666;

              &.p-item-room {
                flex: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .p-item-room-box {
                  flex: 1;
                  display: flex;
                  align-items: center;

                  .i-no {
                    width: 52rpx;
                    height: 28rpx;
                    margin-right: 6rpx;
                  }

                  text {
                    flex: 1;
                  }
                }

                .i-copy {
                  width: 48rpx;
                  height: 48rpx;
                }
              }

              &.p-item-home {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .p-theme-input {
                  flex: 1;
                }

                text {
                  flex: 1;
                }

                .i-copy {
                  width: 48rpx;
                  height: 48rpx;
                  margin-left: 44rpx;
                }

                .i-edit {
                  width: 48rpx;
                  height: 48rpx;
                  margin-left: 44rpx;
                }

                .i-lock {
                  width: 48rpx;
                  height: 48rpx;
                  margin-left: 16rpx;
                }
              }
            }
          }

         
        }

        &.p-meeting-people {
          padding: 44rpx 40rpx;

          .touch-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            overflow: hidden;
          }
          .p-content {
            width: 100%;
            margin-right: 0;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-transform: translateX(280rpx);
            transform: translateX(280rpx);
            margin-left: -280rpx;

            &.p-item-box {
              margin-bottom: 0;
            }
          }
          .p-del {
            background-color: #ff5b5b;
            width: 148rpx;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            -webkit-transform: translateX(370rpx);
            transform: translateX(370rpx);
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            font-size: 36rpx;
            font-family: SFProText-Regular;
            font-weight: 400;

            &.p-jinyin {
              min-width: 148rpx;
              background-color: #0066e6;
              &.p-cancel-jinyin {
                // padding: 0 38rpx;
              }
            }
          }
          .touch-move-active .p-content,
          .touch-move-active .p-del {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }

          .p-title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
           padding: 0;
           margin-bottom: 32rpx;
           
            .left{
              
font-size: 32rpx;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #303133;
line-height: 44rpx;
            }
            .right{
              display: flex;
              align-items: center;
              border: none;
              padding: 0;
              background-color: transparent;
              margin: 0;
             image{
              width: 50rpx;
              height: 50rpx;
              margin-right: 8rpx;
             }
             text{
               
font-size: 32rpx;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #1890FF;
line-height: 40rpx;
             }
            }
            
            button::after{

              border: none;
            
            }
            
           
          }

        

         .p-item.p-item1{
           display: flex;
           justify-content: space-between;
           .p-left{
             display: flex;
             align-items: center;
            .p-item-avatar {
              width: 70rpx;
              height: 70rpx;
              margin-right: 24rpx;
              border-radius: 100%;
              margin-right: 14rpx;
            } 
            .p-item-name{
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #181819;
  line-height: 44rpx;
            }
           }
           .p-right{
             .p-item-edit{
              width: 45rpx;
              height: 45rpx;
             }
             .noSel{
              width: 40rpx;
              height: 40rpx;
              box-sizing: border-box;
              display: block;
              border: 2rpx solid #C0C4CC;
              border-radius: 50%;
             }
             .p-item-select{
              width: 40rpx;
              height: 40rpx;
             }
           }
        
         }
       

         

        }
      }

      .p-line {
        background: #f1f1f1;
        width: 100%;
        height: 16rpx;
      }
    }

    .p-tab-controls {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 9999999999;
      width: 100%;
      height: 128rpx;
      background: #fff;
      
     .p-tabs{
      margin: 0 32rpx;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
   display: flex;
     }
        .p-tab-controls-item {
          flex: 1;
          height: 88rpx;
         


border-radius: 44rpx;

line-height: 88rpx;

          font-size: $size36;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          text-align: center;

          &.p-tab-controls-item--cancel {
            color: #000;
            background-color: #fff;
            border: 2rpx solid #C0C4CC;
          }

          &.p-tab-controls-item--start {
            background-color:#1890FF;
            color: #fff;

            &.p-tab-controls-item--disabled {
              opacity: 0.4;
            }

            &.p-tab-controls-item--bottom {
              padding-bottom: 70rpx;
            }
          }

          &.p-tab-controls-item-iphonex {
            padding-bottom: 70rpx;
          }
          &.p-tab-controls-item1{
            margin-right: 30rpx;
          }
        }
        
      
    }

    .p-modal-content {
      .p-modal-title {
        font-size: 36rpx;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin-bottom: 52rpx;
      }

      .p-modal-title2 {
        font-size: 36rpx;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin-bottom: 30rpx;
      }

      .p-content-box {
        box-sizing: border-box;
        padding-left: 96rpx;

        .p-content-box-row {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          margin-bottom: 30rpx;

          .p-label {
            width: 160rpx;
            font-size: 30rpx;
            font-family: SFProText-Regular;
            font-weight: 400;
            color: rgba(136, 136, 136, 1);
            line-height: 40rpx;
            text-align: left;
          }

          .p-text {
            flex: 1;
            font-size: 30rpx;
            font-family: SFProText-Regular;
            font-weight: 400;
            color: rgba(53, 53, 53, 1);
            line-height: 40rpx;
          }
        }

        .p-content-box-row:last-child {
          margin-bottom: 54rpx;
        }
      }
    }
  }
}

@mixin mid_x {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin mid {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin addAnimation($moveTime) {
  transition: all $moveTime;
  -moz-transition: all $moveTime; /* Firefox 4 */
  -webkit-transition: all $moveTime; /* Safari 和 Chrome */
  -o-transition: all $moveTime; /* Opera */
}
.ppt-h5-draw-nav-btns__btn-board {
  width: 96rpx;
  height: 96rpx;
  border-radius: 16rpx;
  overflow: hidden;
  @include mid_x;
  &__background {
    width: 100%;
    position: relative;
    top: 0;
    @include addAnimation(0.3s);
    cover-image {
      @include mid;
      position: absolute;
    }
    &__board {
      background: #fff;
      height: 84rpx;
      position: relative;
      cover-image {
        width: 56rpx;
        height: 56rpx;
      }
    }
    &__camera {
      background: #0066e6;
      height: 84rpx;
      position: relative;
      cover-image {
        width: 62rpx;
        height: 48rpx;
      }
    }
  }
}
